[Unit]
Description=Prometheus RDS Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=rds-exporter
Group=rds-exporter
Type=simple
ExecStart=/usr/local/bin/rds-exporter \
  --config.file=/etc/rds-exporter/rds_exporter_config.yml

[Install]
WantedBy=multi-user.target
